body {
	font-family: sans-serif;
}

core-toolbar {
	background-color: #C00000;
	width: 100%;
	text-align:center;
}

[drawer] {
	background-color: #FFFFFF;
}

#title{
	width:200px;
	margin:auto;
}

#forgot_password_form {
	width: 70%;
	min-width:300px;
	max-width:550px;
	margin: 20px auto;
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

fieldset {
	border: 1px solid;
	border-color: #000000;
}

.information{
	width: 90%;
	margin: 10px auto;
}

.information input{
	min-width: 200px;
	max-width: 300px;
	margin-left: 30px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.information label {
	display: inline-block;
	float: left;
	width: 200px; 
	text-align: right;
}

#reset_button_container {
	width: 100px;
	margin: 10px auto;
}

#forgot {
	float: right;
	margin-right: 20px;
}