#scrollableTabs{
	background-color: #DA0000;
}
paper-tab a {
	text-decoration: none;
	color: inherit;
}

.content{

}
.network_container{
	width: 600px;
/* 	margin: 20px auto; */
	padding: 10px;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.title{
	font-size: 14px;
}

.network{
	width: 350px;
	height: 350px;
	margin-right: 20px;
	margin-bottom: 5px;
	background-color: gray;
	float: left;
	overflow: hidden;
}

.interviewee{
	float: right;
	clear: right;
	margin: -35px 20px 10px 0px; 
	overflow: hidden;
}

.contact_groups{
	width: 140px;
	height: 200px;
	background-color: blue;
	float: right;
	overflow: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.contact_groups ul{
	list-style-type: none;
}

.timeline{
	min-width: 300px;
	min-height: 40px;
	background-color: green;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.general_comment{
	background-color: red;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#container1{
	float: left;
	overflow: auto;
}

#container2{
	float: right;
	margin-left: 30px;
	overflow: auto;
}
