body {
	font-family: sans-serif;
}

core-toolbar {
	background-color: #009EE3;
	width: 100%;
	text-align:center;
}

[drawer] {
	background-color: #FFFFFF;
}

#scrollableTabs{
	background-color: #DA0000;
}
paper-tab a {
	text-decoration: none;
	color: inherit;
}

#title {
	width:500px;
	margin:auto;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	text-shadow: rgb(3, 3, 3) 4px 4px 4px;
}

.content{
}

.network_container{
	display: none;
	min-width: 620px;
	margin: 20px auto;
	padding: 10px;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.title{
	font-size: 14px;
}

.network{
	width: 450px;
	height: 350px;
	margin-bottom: 5px;
	background-color: #7E7D7D;
	float: left;
	overflow: hidden;
}

.sidebar{
	min-width: 150px;
	height: 350px;
	float: right;
	overflow: hidden;
	background-color: #8B0000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.interviewee{
	margin: 10px;
}

.contact_groups{
	width: 140px;
	height: 280px;
	background-color: #F72020;
	overflow: auto;
	margin: 0px auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.contact_groups ul{
	list-style-type: none;
}

.contact_groups li{
	margin-left: -20px;
}

.timeline{
	min-width: 300px;
	min-height: 40px;
	background-color: #D30000;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.slider{
	width: 450px;
}

.general_comment{
	background-color: #FF6161;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#container1{
	float: left;
	overflow: auto;
}

#container2{
	float: right;
	margin-left: auto;
	overflow: auto;
}

.resolution_warning_picture{
	display: block;
	width: 457px;
	height: 469px;
	margin: 30px auto;
	background-image: url("../images/rotate.png");
    background-color: #cccccc;
   	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

svg {
    background: #B8B8B8;
}

.node {
    fill: gray;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

@media screen and (min-width:1260px){
    .network_container {
        display:block;
    }
    
    .resolution_warning_picture{
    	display: none;
    }
    
}

@media screen and (max-width: 550px){
  #title{
  	font-size: 20px;
  }
}

paper-tabs{
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 85%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(85%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 85%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 85%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 85%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 85%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
